[submodule "include/limine-protocol"]
	path = include/limine-protocol
	url = https://github.com/Limine-Bootloader/limine-protocol.git
[submodule "limine"]
	path = limine
	url = https://github.com/Limine-Bootloader/Limine.git
	branch = v11.x-binary
